<div *ngIf="office">
    <h2>{{office.city | uppercase}} Details</h2>
     <div>
         <ul>
            <li><span>Office Code: </span>{{office.officeCode}}</li>
            <li><span>City: </span>{{office.city}}</li>
            <li><span>Phone: </span>{{office.phone}}</li>
            <li><span>Adress Line 1: </span>{{office.adressLine1}}</li>
            <li><span>Adress Line 2: </span>{{office.adressLine2}}</li>
            <li><span>State: </span>{{office.state}}</li>
            <li><span>Country: </span>{{office.country}}</li>
            <li><span>Postal Code: </span>{{office.postalCode}}</li>
            <li><span>Territory: </span>{{office.territory}}</li>
         </ul>
    
     </div>
    </div>
