#parent{
    display: flex;
    flex-direction: row; 
}
#democratField, #republicanField {
    height: 420px;
    width: 420px;
}
#politiciansList li {
    cursor: move;
}
 
.highlighted {
    background-color: yellow;
}
 
.validtarget {
    background-color: lightblue;
}

#republicans, #democrats {
    min-height: 100px;
    border: 1px solid black;
}
#target, #src > img {
	border: thin solid black;
	padding: 2px;
	margin: 4px;
}
table, th, td {
    border:1px solid black;
  }